<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Spring Boot Thymleaf Example</title>
</head>
<body>
<main role="main" class="container">
  <form method="POST" action="/login" class="form-signin">
    <h2 class="form-heading">Log in</h2>
    <div>
      <span th:text="${message}"></span>
      <input name="username" type="text" class="form-control" placeholder="Username" autofocus="true"/>
      <input name="password" type="password" class="form-control" placeholder="Password"/>
      <span th:text="${error}"></span>
      <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
      <h4 class="text-center"><a th:href="@{/registration}">Create an account</a></h4>
    </div>
  </form>
</main>
</body>
</html>